<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">	
<mapper namespace="com.grgr.mapper.QnaBoardMapper">	
	<!-- 검색 조건문 -->
	<!-- TC:제목+내용, T: 제목, W: 작성자, -->
	<sql id="search">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<choose>
				<when test="searchType == 'TC'.toString()">
					qna_title like '%'||#{qnaKeyword}||'%' OR qna_content like '%'||#{qnaKeyword}||'%'
				</when>
				<when test="searchType == 'T'.toString()">
					qna_title like '%'||#{qnaKeyword}||'%'
				</when>
				<!-- <when test='searchType == "W"'>
					writer like '%'||#{keyword}||'%'
				</when> -->
			</choose>
		</trim>
	</sql>
 
	<!-- 총 게시글 수 -->
	<select id="qnaBoardCount" resultType="int">
		select count(*) from qna_board where <include refid="search"/>
		qna_blindstate=1
		<if test="qnaKeyword!=null and qnaKeyword != ''">
		and qna_keyword=#{qnaKeyword}</if>
	</select>
	
	<!-- 게시글 삽입 -->
	<insert id="insertQnaBoard">
		<selectKey resultType="int" keyProperty="qnaBno" order="BEFORE">
			select qna_bno_seq.nextval 
			from dual 
		</selectKey>
		insert into qna_board(qna_bno, uno, qna_keyword, qna_title
			, qna_content, qna_view_cnt, qna_blindstate, qna_update_uno)
		values(#{qnaBno}, #{uno}, #{qnaKeyword}, #{qnaTitle}, #{qnaContent}, #{uno})
	</insert>	
	
	<!-- 게시글 수정 -->
	<update id="updateQnaBoard">
		update qna_board set qna_keyword=#{qnaKeyword}
			, qna_title=#{qnaTitle}, qna_content=#{qnaContent}
				, qna_modifydate=SYSDATE, qna_update_uno=#{uno}
		where qna_bno=#{qnaBno} and uno=#{uno}
	</update>
	
	<!-- 게시글 삭제 -->
	<update id="deleteQnaBoard">
		update qna_board set qna_blindstate=3,
			qna_update=SYSDATE, qna_update_uno=#{uno}
		where qna_bno=#{qnaBno}
		and uno=#{uno}
	</update>
	
	<!-- 관리자가 게시물 숨김 -->
	<update id="blindQnaBoard">
		update qna_board set
		qna_blindstate = 2,
		qna_update=SYSDATE, qna_update_uno = #{uno}
		where
		qna_bno=#{qnaBno}
	</update> 
	 
	<!-- n번 게시글 -->
	<select id="selectQnaBoard" resultType="QnaBoard">
		select qna_bno, uno
			, qna_keyword, qna_title, qna_content, qna_view_cnt, qna_blindstate, qna_regdate
			, qna_modifydate, qna_update_uno 
		from qna_board
		where qna_bno=#{qnaBno}
	</select>
	
	<!-- 이전 글 번호 찾기 -->
	<select id="selectPrevQnaBno" resultType="Integer">
		select max(qna_bno)
		from qna_board where <include refid="search"/>
		qna_bno &lt; #{qnaBno} and qna_blindstate = 1
		<if test="qnaKeyword != null and qnaKeyword != ''">
		and qna_keyword = #{qnaKeyword}</if> 
	</select>

	<!-- 다음 글 번호 찾기 -->
	<select id="selectNextQnaBno" resultType="Integer">
		select min(qna_bno)
		from qna_board where <include refid="search"/>
		qna_bno &gt; #{qnaBno} and qna_blindstate = 1
		<if test="qnaKeyword != null and qnaKeyword != ''">
		and qna_keyword = #{qnaKeyword}</if> 
	</select>
	 
	<!-- 게시글 목록 -->
	<select id="selectQnaBoardList" resultType="QnaBoard">
		select * 
		from (select rownum rn, board.* 
			from(select qna_bno, uno, qna_keyword as qnaKeyword, qna_title, qna_content, qna_view_cnt 	
				, qna_blindstate, qna_regdate, qna_modifydate, qna_update_uno 
			from qna_board 
			where qna_blindstate=1
				<if test="qnaKeyword != null and qnaKeyword != ''">
				and qna_keyword=#{qnaKeyword}
				</if>
			order by qna_bno desc, qna_modifydate desc)
			board)
		 where rn between #{startRow} and #{endRow}
	</select>

	<!-- 조회수 증가 -->
	<update id="increaseQnaViewCnt">
		update qna_board set qna_view_cnt = qna_view_cnt+1
		where qna_bno=#{qnaBno}
	</update>
</mapper>
