<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grgr.mapper.QnaBoardMapper">
	<insert id="insertQnaBoard">
		<selectKey resultType="int" keyProperty="qna_bno" order="BEFORE">
			select into qna_bno_seq.nextval form dual 
		</selectKey>
		insert into qnaboard values(#{qna_bno}, #{qna_uno}, #{qna_keyword}, #{qna_title}
			, #{qna_content}, #{qna_blindstate}, sysdate, sysdate, #{qna_update_uno})
	</insert>	

	<update id="updateQnaBoard">
		update qnaboard set qna_uno=#{qna_uno}, qna_keyword=#{qna_keyword}
			, qna_title=#{qna_title}, qna_content=#{qna_content}
			, qna_blindstate=#{qna_blindstate}, qna_modifydate=#{qna_modifydate}
			, qna_update_uno=#{qna_update_uno} where uno=#{uno}
	</update>
	
	<delete id="deleteQnaBoard">
		delete from qnaboard where qna_bno=#{qna_bno}
	</delete>
	
	<select id="selectQnaBoard" resultType="QnaBoard">
		select qna_bno, qna_uno, qna_keyword, qna_title, qna_content, qna_blindstate, 
			, qna_regdate, qna_modifydate, qna_update_uno where qna_bno=#{qna_bno}
	</select>
	
	<select id="selectQnaBoardCount" resultType="int">
		select count(*) from qnaboard
	</select>
	
	<select id="selectQnaBoardList" resultType="QnaBoard">
		select * from (select rownum rn, board.* from(select qna_bno, qna_uno
		, qna_keyword, qna_title, qna_content, qna_blindstate, qna_regdate
		, qna_modifydate, qna_update_uno from qnaboard order by qna_bno desc) board) 
		 where rn between #{startRow} and #{endRow}
	</select>
</mapper>
